@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<button onclick="location.href='@Url.Action("GetUsers", "User")'">Crear usuario</button>
<button onclick="location.href='@Url.Action("GetUsers", "User")'">Iniciar sesión</button>
