@model BudgetTracker.ViewModels.User.ResetPasswordViewModel;

<div class="d-flex flex-column justify-content-center align-items-center m-5">
    <div class="d-flex justify-content-evenly align-items-center p-2" style="max-width: 75%; min-width: 50%;">
        <a asp-controller="Home" asp-action="Index" class="btn text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.1vw" height="1.1vw" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
            </svg>
        </a>
        <h1>Cambio de contraseña</h1>
    </div>

    <div class="border rounded box-shadow p-4 bg-secondary" style="width: 30vw;">
        <form id="resetPasswordForm" asp-action="ResetPassword" asp-controller="User" method="post" class="d-flex flex-column justify-content-center align-items-center" style="width: 95%;">
            @Html.AntiForgeryToken()
            <div class="d-flex flex-row" style="width: 100%;">
                <label class="col-sm-4 col-form-label" asp-for="NewPassword">Nueva contraseña:</label>
                <input type="password" id="newPassword" asp-for="NewPassword" placeholder="Ingresa tu nueva contraseña" class="form-control" />
            </div>

            <div class="d-flex flex-row mt-2" style="width: 100%;">
                <label class="col-sm-4 col-form-label" asp-for="ConfirmPassword">Confirmar contraseña:</label>
                <input type="password" id="confirmPassword" asp-for="ConfirmPassword" placeholder="Confirma tu nueva contraseña" class="form-control" />
            </div>

            <div class="d-flex flex-row mt-2">
                <button type="button" class="btn btn-primary" onclick="ResetPassword()">Cambiar contraseña</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        const _CONFIG_RESET = {
            email: "@Model.Email",
            token: "@Model.Token"
        };
    </script>

    <script src="~/js/User/ResetPassword.js" asp-append-version="true"></script>
}