@{
    ViewData["Title"] = "Login Page";
  
}
@inject Microsoft.AspNetCore.Authentication.IAuthenticationService authenticationService

@{
    if (User.Identity.IsAuthenticated) // If the user is already authenticated, redirect to the User controller
    {
        <script>window.location.href = '@Url.Action("Index", "User")';</script>
    }
}

<form asp-controller="Home" asp-action="Create" method="get">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Crear Usuario</button>
    </div>        
</form>

<form asp-controller="Home" asp-action="Login" method="get">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Iniciar Sesion</button>
    </div>
</form>